@font-face {
    font-family: "Circular Std Book";
    src: url("static/fonts/CircularStd-Book.otf")
}
@font-face {
    font-family: "Circular Std Bold";
    src: url("static/fonts/CircularStd-Bold.otf");
}

body {  
    background: #fefbed;
    color: #182672;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #182672;
}
a:hover {
    color: #080d27;
}

/* GRID LAYOUT */
.content {
    grid-area: content;
}
.header {
    grid-area: header;
    justify-content: center;
}
.footer {
    grid-area: footer;
}
.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 150px;
}
figure {
    margin: 0px;
    font-size: .7em;
}
.projects {
    max-width: 960px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    grid-template-rows: 200px;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* PAGE STYLES */
.content, .header, .footer {
    padding: 0 1em;
}/*
.header, .footer {
    width: 960px;
}*/
.logo {
    font-family: "Circular Std Bold", sans-serif;
    font-size: 1em;
}
nav ul {
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav {
    display: inline-flex;
}
.contact h2 {
    font-size: 2em;
}
nav li {
    list-style: none;
    padding: 1em 0;
}
nav li a {
    color: #182672;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s;
}
nav li:first-child {
    padding-right: 20px;
}
nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: .1em;
    background: #182672;
    transition: width .3s;
}
nav li a:hover::after {
    width: 100%;
    transition: width .3s;
}
.hero {
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
}
.hero h1 {
    font-size: 2em;
    font-weight: 800;
}
.hero p {
    font-weight: 300;
    line-height: 1.8em;
    font-size: .9em;
}
footer {
    border-top: 1px solid #182672;
    margin-top: 40px;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .left img {
    width: 60px;
    height: auto;
}
footer .right a {
    padding-left: 15px;
}
footer ul {
    max-width: 960px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
footer ul li {
    list-style: none;
    align-self: flex-end;
}
.contact {
    margin: 4em 0px;
}
.contact-icon {
    font-size: 1.5em;
    color: #182672;
}
.contact-icon:hover {
    color: #080d27;
}
.about-me {
    width: 85%;
}
/*WAVING HAND ANIMATION*/
#wave {
border: none;
height: .9em;
cursor: pointer;
user-select: none;
}

#wave.hi {
animation: rotation 0.4s infinite alternate backwards;
animation-timing-function: ease-in-out;
} 

@-webkit-keyframes rotation {
    from {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(40deg);
    }
}

/*ABOUT ME STYLES */
.responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
.habilidades {
    display: flex;
}
.valores, .skills {
    width: 50%;
}
.habilidades h4{
    margin-bottom: .5em;
}
.habilidades p {
    font-size: .9em;
    margin: 0px;
}

/* MEDIA QUERIES */
@media (min-width: 1040px) {
    .container {
        grid-template-areas: 
            "header"
            "content"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .content, .header, .footer {
        margin: 0 auto;
        padding: 2em 0px;
    }
    .header, .footer {
    width: 960px;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        margin: 2em auto;
    }
    .hero {
        text-align: left;
        margin: 2em auto;
    }
    .hero h1 {
        font-size: 3em;
    }
    .hero p {
        font-size: 1.2em;
    }
    .habilidades p{
        font-size: .9em;
    }
    footer ul {
        /*max-width: 960px;*/
        margin: 0 auto;
        padding: 0;
    }
}